<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EIP-4824 Proposals URI API Documentation</title>
</head>
<body>
    <h1>API Documentation</h1>
    <p>This page provides detailed documentation for the API endpoints available in the application, focusing on retrieving proposals for a specific DAO space.</p>
    <h2>Endpoints</h2>
    <ul>
        <li>
            <b>GET /proposals/&lt;space&gt;</b> - Fetches proposals for a specified DAO space.
            <p>Parameters:</p>
            <ul>
                <li><code>space</code>: String - The DAO space identifier (e.g., "ens.eth") as part of the URL path.</li>
                <li><code>cursor</code>: Integer (optional) - Used to paginate results based on this cursor. If provided, the API fetches results created after the timestamp denoted by this cursor.</li>
                <li><code>refresh</code>: Boolean (optional) - If true, forces the endpoint to bypass the cache and refresh the data from the source.</li>
                <li><code>onchain</code>: String (optional) - If provided, fetches on-chain proposals using the provided organization slug.</li>
            </ul>
            <p>Description:</p>
            <p>This endpoint retrieves a list of proposals from the specified DAO space, allowing for pagination if a cursor is provided. It is effective for accessing data in manageable segments when dealing with large datasets. Use the <code>refresh</code> parameter to force a refresh of the data and update the cache. The <code>onchain</code> parameter fetches on-chain proposals from Tally API if the organization slug is provided.</p>
            <h3>Example Usage</h3>
            <p><b>Request without cursor:</b></p>
            <pre>GET /proposals/ens.eth</pre>
            <p><b>Request with cursor:</b></p>
            <pre>GET /proposals/ens.eth?cursor=1609459200</pre>
            <p><b>Request with refresh:</b></p>
            <pre>GET /proposals/ens.eth?refresh=true</pre>
            <p><b>Request with onchain:</b></p>
            <pre>GET /proposals/ens.eth?onchain=your_slug_here</pre>
            <p><b>Request with refresh and onchain:</b></p>
            <pre>GET /proposals/ens.eth?refresh=true&onchain=your_slug_here</pre>
        </li>
    </ul>
</body>
</html>
